	<!--main-section-->
<main class="container mt-4">
  <!-- sign up form-->
  <div class="card w-50 m-auto">
    <h3 class="card-header  amber accent-3 white-text text-center py-4">
      <strong >Sign Up</strong>
    </h3>
    <div class="card-body px-lg-5">
      <%= render "form" , user: @user %>
    </div>
  </div>
</main>
