<div class="p-2">
  <div class="row no-gutters">
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade col-9" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carouselBasicExample" data-slide-to="0" class="active"></li>
        <li data-target="#carouselBasicExample" data-slide-to="1"></li>
        <li data-target="#carouselBasicExample" data-slide-to="2"></li>
      </ol>
      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        class="d-block w-100"
        alt="..."
      />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </div>
          <!-- Single item -->
          <div class="carousel-item">
            <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
        class="d-block w-100"
        alt="..."
      />
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
            <!-- Single item -->
            <div class="carousel-item">
              <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
        class="d-block w-100"
        alt="..."
      />
                <div class="carousel-caption d-none d-md-block">
                  <h5>Third slide label</h5>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </div>
            </div>
            <!-- Inner -->
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselBasicExample" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a
    class="carousel-control-next"
    href="#carouselBasicExample"
    role="button"
    data-slide="next"
  >
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
          <!-- Carousel wrapper -->
          <div class="card card-image col-3"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="card card-image col"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
          <div class="card card-image col"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
          <div class="card card-image col"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
          <div class="card card-image col"
  style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">
            <!-- Content -->
            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
              <div>
                <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                  optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                  Odit sed qui, dolorum!.</p>
                <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
