/* Errors */

.errors {
  color: red;
  text-align: left;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #ff8800 0%, #ff744e 100%);
  background-image: linear-gradient(120deg, #ff6a41 0%, #ff8800 100%);
}
