<div class="container mt-5">
  <h1 class="text-success">List of categories</h1>
  <div class="results-column d-flex flex-column p-3">
    <% @categories.each do |category| %>
      <div class="bg-light p-2 mb-2" >
        <div class="d-flex justify-content-between">
          <h4><%= link_to "#{category.name}", category, class: "text-secondary" %></h4>
        </div>
      </div>
    <% end %>
  </div>
</div>
