<div class="container mt-5">
  <h1 class="text-success">List of articles</h1>
  <div class="results-column d-flex flex-column p-3">
    <% @category.articles.each do |article| %>
      <div class="bg-light p-2 mb-2" >
        <div class="d-flex justify-content-between">
          <h4><%= link_to "#{article.title}", article, class: "text-secondary" %></h4>
          <p>
            Categories:
            <% article.categories.each do |category| %>
              <%= link_to category.name, categories_path(category) %>
            <% end %>
          </p>
          <div class="text-success"><%= article.created_at %></div>
        </div>
        <div><%= article.description %></div>
      </div>
    <% end %>
  </div>
</div>
